body {
  background-color: #f4f4f4;
  font-family: Arial, sans-serif;
}

h1 {
  color: #2b2b2b;
  text-align: center;
}

pre {
  background-color: white;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  overflow-x: auto;
}
